html {
  font-family: sans-serif;
  color: black;
  background-color: white;
}

button {
  border: 0;
  padding: 0 0.5rem;
  font-size: inherit;
  line-height: 1;
  min-width: 2rem;
  height: 2rem;
  background-color: #1976d2;
  color: #fff;
}
